@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.tengah {
    vertical-align: middle;
}

.form-control-css {
    font-size: 0.9rem;
    padding: 1.5rem 1rem;
}

body {
    background-color: white;
}

.btn-white:hover {
    background-color: #ccc;
}

.aktif {
    background-color: #ccc;
}